h1 {
    color: #333;
}

p {
    color: #666;
}

#main_content_div {
    flex:1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#pets-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.pet-listing {
    flex-basis: calc(33.333% - 20px); 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pet-image {
    width: 33vh;
    height:33vh;
    border-radius: 10%;
    object-fit: cover; 
}


.interested-btn {
    background-color: #333;
    width:100%;
    align-items: center;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.interested-btn:hover {
    background-color: grey;
}
