html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.top-header{
    display:flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 10px;
}

#header_picture {
    flex: 0 0 auto;
    width: 7.5%;
    height: 7.5%;
    box-sizing: border-box;
    position:static;
}

#time-in-header {
    margin-left: auto; 
    padding: 1% 2%; 
    border: 2px solid #333;
    color: white;
    border-width: 2px;
    border-color: #333333;
    background-color: #333;

}

.navbar {
    display: flex;
    background-color: #084050;
}

.navbar a {
    flex: 1; 
    text-align: center;
    color: white;
    padding: 1% 2%;
    text-decoration: none;
    border: 1px solid #bbb;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


h1 {
    color: #333;
}

p {
    color: #666;
}

#main_content_div {
    flex:1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-section {
    margin-bottom: 20px;
    max-width:100%;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.form-section legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    resize: vertical;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 5px;
}

.submit-btn, .clear-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.submit-btn {
    background-color: #007bff;
}

.clear-btn {
    background-color: #f44336;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.clear-btn:hover {
    background-color: #d32f2f;
}

.form-actions {
    text-align: center;
    padding-top: 20px;
}



#footer_div {
    background-color: #084050;
    color: white;
    text-align: center;
    padding: 1% 2%;
    position: relative;
    
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    border: 1px solid #bbb;
}
