h1 {
    color: #333;
}

p {
    font-size: 16px; /* Increase paragraph text size for readability */
    line-height: 1.6; /* Improve line spacing */
    margin-bottom: 15px; /* Add spacing between paragraphs */
    color:#666;
}

#main_content_div {
    flex:1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.construction-box {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.construction-helmet {
    font-size: 60px;
    animation: bob 2s infinite alternate;
}

@keyframes bob {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}


