<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Exercises Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome to my SOEN 287 Assignment 3</h1>
    <p>Select an exercise to continue:</p>
    <div class="buttons">
        <a href="/ex1" class="btn">EX1</a>
        <a href="/ex2" class="btn">EX2</a>
        <a href="/ex3" class="btn">EX3</a>
        <a href="/ex4" class="btn">EX4 (Pet Store)</a>
    </div>
</div>
</body>
</html>