<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 1</title>
</head>
<body>
<h2>findSummation</h2>

<form method="post" action="/ex1/findSummation">
    <label for="findSummationInput">Enter a Positive Number:</label>
    <input type="text" id="findSummationInput" name="data">
    <br>
    <button type="submit">Submit</button>
    <br>

</form>


<h2>uppercaseFirstandLast</h2>

<form method="post" action="/ex1/uppercaseFirstandLast">
    <label for="uppercaseFirstandLastInput">Enter a String:</label>
    <input type="text" id="uppercaseFirstandLastInput" name="data">
    <br>
    <button type="submit">Submit</button>
    <br>


</form>

<h2>findAverageAndMedian</h2>

<form method="post" action="/ex1/findAverageAndMedian">
    <label for="findAverageAndMedianInput">Enter a List of Numbers:</label>
    <input type="text" id="findAverageAndMedianInput" name="data">
    <br>
    <button type="submit">Submit</button>
    <br>

</form>

<h2>find4Digits</h2>

<form method="post" action="/ex1/find4Digits">
    <label for="find4DigitsInput">Enter a Number:</label>
    <input type="text" id="find4DigitsInput" name="data">
    <br>
    <button type="submit">Submit</button>
    <br>

</form>


</body>
</html>