<footer id="footer_div">
    <p>© 2024 SOEN Pet Store. All rights reserved.</p>
    <a href="/" style="color: lightblue; text-decoration: none;">Privacy/Disclaimer Statement</a>

</footer>

</body>
</html>