<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>

    <!-- Stylesheet for the header -->
    <link rel="stylesheet" type="text/css" href="/css/ex4/partials/header.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <!--Stylesheet for the footer -->
    <link rel="stylesheet" type="text/css" href="/css/ex4/partials/footer.css">

    <!--Stylesheet for the specific html file-->
    <link rel="stylesheet" type="text/css" href="<%= css %>">
    <script src="/js/ex4/utilities.js"></script>
</head>
<body>

<header id="header_div">
    <div class="top-header">

        <div id="header_logo_div">
            <a href="/ex4">
                <img id="header_picture" src="/assets/pictures/logo.webp" alt="Logo">
            </a>
        </div>

        <div class="search-header-div">

            <form action="/ex4/find-pet" method="GET">
                <label for="searchInput"></label>
                <input type="text" id="searchInput" name="userSearch" placeholder="Search for a pet...">
                <button type="submit" id="searchButton">
                    <i class="fa fa-search"></i> <!-- Using Font Awesome for the search icon -->
                </button>
            </form>

        </div>

        <div id="login_header_div">
            <% if (user) { %>
                <button onclick="location.href='/ex4/user/logout'">Logout</button>
            <% } else { %>
                <button onclick="location.href='/ex4/user'">Login/Signup</button>
            <% } %>
        </div>


        <div id="time-in-header-div">
            <p id="time-in-header"></p>
        </div>


    </div>


    <div class="navbar">
        <a href="/ex4">Home</a>
        <a href="/ex4/give-pet">Give A Pet</a>
        <a href="/ex4/find-pet">Find A Pet</a>
        <a href="/ex4/pet-care">Pet Care</a>
        <a href="/ex4/contact">Contact Us</a>

    </div>


</header>