<%- include('partials/header', {title:'Contact Us', css:'/css/ex4/contact.css'})%>

<div id="main_content_div">

    <h1 style="text-align: center; text-decoration: underline;">Contact Us</h1>

    <p>For any questions or concerns, please contact us at:</p>

    <h3>Email: </h3>
    <a href="mailto:ricardochahine0@gmail.com">ricardochahine0@gmail.com</a>

    <h3>LinkedIn: </h3>
    <a href="https://www.linkedin.com/in/ricardorajichahine">Ricardo Raji Chahine</a>
</div>

<%- include('partials/footer') %>