<%- include('partials/header', {title: 'Home', css:'/css/ex4/home.css'}) %>

<div id="main_content_div">
    <h1 style="text-align: center; text-decoration: underline;">Welcome to my SOEN Pet Store</h1>

    <p>Greetings and welcome to the SOEN Pet Store. As a premier destination for pet lovers, our aim is to facilitate a deep and rewarding connection between pets and their owners. Our commitment extends beyond just facilitating pet adoptions; we are dedicated to providing comprehensive resources, superior pet products, and expert care advice to ensure your pet's health and happiness.</p>

    <p>While our website is currently under development, our team is diligently working to create an experience that is not just informative and easy to navigate, but also comprehensive and tailored to the needs of all pet owners. We value the trust and responsibility that comes with pet ownership and are excited to support you on this journey.</p>

    <div class="construction-box">
        <div class="construction-helmet">&#x1F477;</div>
        <h1>Site Under Construction</h1>
        <p>We're working hard to finish the development of this site. Our target launch date is <br><strong>April, 2024</strong>.</p>
        <!-- Form or contact link can go here -->
    </div>

</div>

<script src="/js/ex4/home.js"></script>

<%- include('partials/footer')  %>